{% load static %}

<script type="text/javascript" src="{% static 'zerozero/vendor/jquery-3.6.0.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'zerozero/vendor/js-yaml.min.js' %}" ></script>

<!-- Code Mirror -->
<link rel="stylesheet" href="{% static 'zerozero/vendor/codemirror-5.65.2/lib/codemirror.css' %}">
<script type="text/javascript" src="{% static 'zerozero/vendor/codemirror-5.65.2/lib/codemirror.js' %}"></script>

<script type="text/javascript" src="{% static 'zerozero/create-query.js' %}" ></script>

<style>.CodeMirror { border: 1px solid #000; width: 500px; }</style>
